################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/API/EmailProcessingApp.API/appsettings.Development.json
/.vs/EmailProcessingApp
/src/API/EmailProcessingApp.API/bin/Debug/net6.0
/src/API/EmailProcessingApp.API/obj/Debug/net6.0
/src/API/EmailProcessingApp.API/obj
/src/Core/EmailProcessingApp.Application/bin/Debug/net6.0
/src/Core/EmailProcessingApp.Application/obj/Debug/net6.0
/src/Core/EmailProcessingApp.Application/obj
/src/Core/EmailProcessingApp.Domain/bin/Debug/net6.0
/src/Core/EmailProcessingApp.Domain/obj/Debug/net6.0
/src/Core/EmailProcessingApp.Domain/obj
/src/Infrastructure/EmailProcessingApp.Infrastructure/bin/Debug/net6.0
/src/Infrastructure/EmailProcessingApp.Infrastructure/obj/Debug/net6.0
/src/Infrastructure/EmailProcessingApp.Infrastructure/obj
/src/Infrastructure/EmailProcessingApp.Persistence/bin/Debug/net6.0
/src/Infrastructure/EmailProcessingApp.Persistence/obj/Debug/net6.0
/src/Infrastructure/EmailProcessingApp.Persistence/obj
/tests/EmailProcessingApp.API.IntegrationTests/obj
/tests/EmailProcessingApp.Application.UnitTests/obj
/tests/EmailProcessingApp.Infrastructure.UnitTests/obj
/tests/EmailProcessingApp.Persistence.UnitTests/obj
/tests/EmailProcessingApp.Application.Tests/obj
/tests/EmailProcessingApp.Infrastructure.Tests/obj
/tests/EmailProcessingApp.Persistence.Tests/obj
/tests/EmailProcessingApp.Tests.Shared/obj
/tests/EmailProcessingApp.API.Tests/obj
/tests/EmailProcessingApp.API.Tests/bin/Debug/net6.0
/tests/EmailProcessingApp.Application.Tests/bin/Debug/net6.0
/tests/EmailProcessingApp.Infrastructure.Tests/bin/Debug/net6.0
/tests/EmailProcessingApp.Persistence.Tests/bin/Debug/net6.0
/tests/EmailProcessingApp.Tests.Shared/bin/Debug/net6.0
